*{margin: 0; padding: 0; box-sizing: border-box;}
html,body{height: 100%; background-color: rgb(236, 236, 236) !important;}

.container{
    padding: 60px 0;
}

.box-init{
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #0d6efd;
}


canvas{
    width: 300px !important;
    height: 300px !important;
    margin: 30px auto;
}

.alert{
    font-weight: bold;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    max-width: 60%;
    font-size: 1.3em;
    border-radius: 10px;
}

.sucesso{
    background-color: lightgreen;
    color: green;
}

.erro{
    background-color: tomato;
    color: brown;
}